#loginLeft {
    -fx-background-color: rgba(30, 144, 255, 0.8);
    -fx-background-radius: 0 90 90 0;
}

merchappLogo {
    -fx-color: #FFFFFF;
    -fx-background: #ece9e9;
    -fx-effect: dropshadow(gaussian, #474747, 5, 0.6, 3, 3);
}

