#loginLeft {
    -fx-background-color: rgba(30, 144, 255, 0.8);
    -fx-background-radius: 0 90 90 0;
    -fx-effect: dropshadow(gaussian, black, 10, 0.2, 4, 4);
}

#merchappLogo {
    -fx-text-fill: #222222;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.45), 14, 0.5, 2, 6);
}

#background {
    -fx-background-color: rgba(120, 120, 120, 0.4);
}